/*######## BODY ########*/
body {
    height: 100vh;
    padding: 10px;
    background-color: var(--preto);
}

/*######## HEADER ########*/
header {
    width: 100%;
    position: fixed;
    position: sticky;
    top: 0;
    z-index: 3;
}

/*######## CONTAINER DA LOGO ########*/
.container-img-logo {
    width: 100%;
    margin-bottom: 10px;
}


/*######## IMAGEM DA LOGO ########*/
.container-img-logo > img {
    width: 100px;
}


/*######## IMAGEM DE PERFIL ########*/
.container-foto-de-perfil > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/*######## INPUT FILE  ########*/
.container-foto-de-perfil > input {
    display: none;
}