#secao-adicionar-gasto {
   padding-top: 10px;
}


.container-secao-gasto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}


.container-secao-gasto > h1 {
    font-family: var(--inter);
    font-weight: bold;
    color: var(--branco);
    font-size: 25px;
}


.container-input-gasto {
    text-align: center;
    width: 90%;
}

.container-input-gasto > input,#categoria {
    width: 100%;
    padding: 15px;
    background-color: var(--quase-Preto);
    color: var(--branco);
    border: 1px solid var(--cinza);
    border-radius: 6px;
}


.container-input-gasto > #categoria,input::placeholder {
    font-family: var(--poppins);
    font-weight: bold;
    color: var(--cinza);
}


.btn-adicionar {
    width: 90%;
}


.btn-adicionar > button {
    width: 100%;
    font-family: var(--poppins);
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    color: var(--branco);
    background-color: var(--roxo);
    border: none;
}

