/*SEÇÃO DO PERFIL*/
#secao-perfil {
   display: none;
   padding: 10px;
}

/*ARTICLE COM AS DIVS*/
.container-cards-do-perfil {
    margin-top: 30px;
}


/*TITULO ESCRITO (PERFIL)*/
.container-cards-do-perfil > h1 {
    text-align: center;
    font-family: var(--inter);
    color: var(--branco);
    font-weight: 700;
}


/*DIV COM A FOTO DE PERFIL DO (PERFIL)*/
.foto-de-perfil {
    text-align: center;
    margin-top: 30px;
}

/*FOTO DE PERFIL*/
#img-foto-saida {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}


/*INPUT FILE*/
#ifoto {
    display: none;
}


/*DIV COM O NOME*/
.container-nome {
    text-align: center;
    margin: 30px;
}


/*NOME (H1)*/
.resultado-nome-perfil {
    font-size: 25px;
    font-family: var(--poppins);
    color: var(--branco);
    font-weight: 500;
}


/*DIV COM A FUNÇÃO DE MUDAR O NOME*/
.container-configuracoes {
    display: flex;
    gap: 10px;
    padding: 12px;
    border-radius: 5px;
    background-color: var(--quase-Preto);
    margin-bottom: 20px;
}


/*ICONE DE INGRENAGEM*/
.container-configuracoes > img {
    width: 20px;
    height: 20px;
}


/*TITULO EDITAR NOME*/
#editar-o-nome {
    font-family: var(--inter);
    color: var(--branco);
    font-weight: 600;
    font-size: 20px;
}

/*INPUT AONDE O NOME SERA DIGITADI*/
#inome {
    display: none;
    width: 100%;
    border-radius: 5px;
    border: 1px solid black;
}


/*BOTÃO SALVAR*/
.salvarNome {
    display: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--roxo);
    color: var(--branco);
    font-size: 17px;
    font-family: var(--poppins);
    font-weight: 600;
}