@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




:root {
    /*FONTES*/
    --inter: "Inter", sans-serif;
    --poppins: "Poppins", sans-serif;


    /*CORES*/
    --cinza: #C8C8C8;
    --preto: #0b0b0f;
    --branco: #ffffff;
    --roxo: #6d28d9;
    --quase-Preto: #16161d;
    --vermelho: #ef4444;
    --verde: #16a34a;
    --card-entrada-e-saida: #1A1A23;
    --cinza-mais-escuro: #7D7D7D;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}